/* Misc */

$vue-color: #46bd87;
$primary-color: #1A2980;
$secondary-color: #26D0CE;
$danger-color: #ea4d46;
$danger-secondary-color: #822925;

/* Navbar */

$navbar-height: 120px;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;
